@media screen and (max-width: 576px) {
   .nav-links, .club {
    display: none;
   } 
   .banner{
    flex-direction: column;
   }
   .banner-des{
    width: 100%;
    margin-top: -45px;
    margin-bottom: 85px;
   }
   .h1{
    font-size: 2.25rem;
   }
   .miama{
    font-size: 4.5rem;
   }
   .db{
    width: 100%;
    /* border: 5px solid gold; */
    justify-content: center;
    align-items: center;
   }
   .db>div{
    /* border: 5px solid rebeccapurple; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   }
   .btn1, .btn2{
    width: 165px;
    height: 54px;
    /* border: 3px solid cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: -5px;
    margin-right: -5px; */
   }
   .btn-a{
    white-space: nowrap;
    /* border: 3px solid khaki; */
    font-size: 1.1rem;
    font-weight: 600;
   }

   .navbar,.banner{
    margin-left: 20px;
    margin-right: 20px;
  }
  /* .navbar{
    margin-top: 50px;
  } */
  .bar{
    color: aliceblue;
    display: block;
    font-size: 1.2rem;
  }
  .p1{
    width: 274px;
    text-align: left;
    margin-bottom: -20px;
  }
  .b2{
    width: fit-content;
  }
  .bt{
    margin-top: 20px;
    font-size: 1.125rem;
    font-weight: 900;
  }
  .bt2{
    font-size: 1.875rem;
    font-weight: 900;
  }
  .pd{
    font-size: .75rem;
    font-weight: 400;
  }
  .pd2{
    font-size: .6125rem;
    font-weight: 400;
  }
  .bcard{
    /* border: 5px solid wheat; */
    width: 155px;
    height: 72px;
    position: absolute;
    left: 5px;
    bottom: 250px;
  }
  .bcard2{
    /* border: 5px solid wheat; */
    width: 145px;
    height: 74px;
    position: absolute;
    left: 190px;
    bottom: 195px;
  }
  .habit{
    max-width: 338px;
    margin: 0 auto;
  }
  .hhp{
    margin-top: -25px;
    width: 100%;

  }
  .hcard{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .hcards{
    margin: auto;
  }
  .ht{
    font-size: 2rem;
  }
  .run{
    flex-direction: column;
    width: 338px;
  }
  .runh{
    width: fit-content;
  }
  .run-img2 img {
    width: 100%;
  }
  .run-img{
    display: none;
    margin: 0 auto 35px auto;   
  }
  
.hide{
    display: block;
    margin: 0 auto 35px auto; 
}
.section-title{
    font-size: 2rem;
}
.sbtn{
    width: 287px;
    margin-top: 15px;
}
.sr{
    text-align: center;
    /* border: 5px solid violet; */
}
.ftc{
  grid-template-columns: 1fr;
  /* border: 5px solid rosybrown; */
  margin-right:auto;
}
.meet{
  width: 338px;
}
.tcard{
  /* border: 5px solid lawngreen; */
  width: auto;
}
.tcards{
  /* border: 5px solid lawngreen; */
  width: 300px;
  height: 260px;
}
.tcards img{
  width: 100%;
  height: 100%;
  /* border: 5px solid rgb(7, 178, 61); */
}
.footer{
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.f1{
  width: 100%;
}
.f1 h1{
  font-size: 2.5rem;
}
.f1 p{
  font-size: 1.125rem;
}
.f2 h2, .f3 h2{
  font-size: 1.5rem;
}
.fref{
  font-size: 1.125rem;
  font-weight: 400;
 }
 .fp{
  font-size: .99rem;
 }
hr{
  width: 90%;
}
.bc{
  flex-direction: column;
  /* border: 5px solid red; */
  width: 100%;
}
.chart table{
  /* border: 5px solid white; */
  margin-left: 20px;
}
.chart h1, .cal h1{
  margin-left: 20px;
  white-space: nowrap;
}
.cal{
  width: 100%;
}
.cal p{
  display: none;
}
.input {
  margin-top: 34px;
  padding-left: 20px;
}
.cal button{
  margin: 34px auto auto auto;
}
input, select{
  /* border: 5px solid hotpink; */
  width: 150px;
  height: 48px;
}
.x{
  height: 50px;
  width: 170px;
}
.ac{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

}
@media screen and (max-width: 360px) {
  .db button{
    width: 50%;
    /* border: 5px solid red; */
    margin-right: -12px;
  }
  .db> div{
    /* border: 5px solid gray; */
    width: 100%;
    margin-right: 10px;
  }
  input, select {
    width: 70%;
  }
  .x{
    width: 85%;
  }
  .ac{
    width: 93%;
  }
  .chart table{
    margin-left: 2px;
  }
}