@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter{
    font-family: "Inter", sans-serif;
  }
  .miama{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 7.6rem;
    line-height: 0;                                            
  }
  /* shared styles */
/* *{
  border: 1px solid red;
} */
 body{
    background: rgb(0, 0, 0);
    /* border: 2px dashed green; */
  }
  .flex{
    display: flex;
  }
  main{
    max-width: 100%;
    margin: 0 auto;
  }
  section{
    margin-top: 70px;
  }
  .habit,.run,.meet, .choose, .bc{
    width: 1060px;
    /* border: 5px solid wheat; */
    margin: 0 auto;
  }

  .btn{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    border-style: none;
    padding: 8px 20px 8px 20px;
  }
  .btn a{
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    text-decoration: none
  }
  .btn1{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    border-style: none;
    padding: 16px 50px 16px 50px;
  }
  .btn2{
    border-radius: 46px;
    background-color: transparent;
    border-style: none;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 50px 16px 50px;
    cursor: pointer;
  }
  /* header */
.navbar{
  justify-content: space-between;
  align-items: center;
  height: 46px;
  margin-top: 57px;
}
.head{
  color: rgb(230, 83, 60);
  font-family: "Inter", sans-serif;
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-link{
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: none;
  margin: 0 10px;
  padding-right: 10px;
}
.nav-item{
  list-style: none;
}
.nav-links{
  width: 457px;
  gap: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
  justify-content:space-between;
  align-items: center;
  padding: 4px;
}
header{
  border-top: 1px solid rgba(0, 0, 0, 0);
  background-image: linear-gradient(to bottom, #111111, #151515, #191919, #1c1c1c, #202020, #1f1f1f, #1e1e1e, #1d1d1d, #181818, #121212, #0a0a0a, #000000);
}
.bg{
  margin: 0 auto;
  max-width: 100%;
}
.bar{
  display: none;
}
.navbar,.banner{
  margin-left: 180px;
  margin-right: 180px;
} 
.banner{
  justify-content: space-between;
  align-items: center;
}
.banner-des{
  width: 520px;
  margin-top: -130px;
}
.banner-img{
  margin-top: -35px;
  /* border: 5px solid green; */
  width: 350px;
  height: fit-content;
  position: relative;
}
/* .banner-img img{
  border: 5px solid rebeccapurple;
  margin-right: 99px;
} */
.h1{
  color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  font-size: 4rem;
  font-weight: 900;
}
.p1{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  margin-top: -18px;
  margin-bottom: 28px;
}
.btn-a{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.db{
  margin-top: 60px;
}
.db> div{
  display: flex;
  gap: 24px;
}
.circle{
  color: white;
}
.bt2{
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.bt{
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
}
.pd2{
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.65);
  font-size: .8rem;
  font-weight: 400;
  line-height: 1;
}
.pd{
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}
.bcard{
  position: absolute;
  width: 180px;
  height: 85px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  justify-content: center;
  align-items: center; 
  gap: 20px;
  line-height: 0;
  bottom: 63px;
  right: 250px;
}
.bcard2{
  position: absolute;
  width: 180px;
  height: 90px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  justify-content: center;
  align-items: center;
  line-height:0;
  bottom: 300px;
  left: 310px; 
}
.pc{
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}
.habit{
  /* background-color: aliceblue; */
  text-align: center;
}
.hhp{
  width: 670px;
  margin: 0 auto;
}
.hcard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 58px;
}
.hcards img{
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
}
.hcards{
  width: 230px;
  /* border: 5px solid saddlebrown; */
  margin: auto;
}
.ht{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
}
.ph{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  margin-top: -14px;
  line-height: 2;
}
.hct{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
}
.pct{
  color: rgba(255, 255, 255, 0.5);
  font-size: .8rem;
  font-weight: 400;
}
.run{
  margin-top: 80px;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}
.runh{
  /* border: 4px solid gainsboro; */
  width: 440px;
  margin: 40px 50px 40px 54px;
}
.run-img img{
 width: 100%;
 height: 100%;
 border-radius: 18px;

}
.run-img{
  width: 366px;
  height: 312px;
  margin: 30px -10px 30px 30px;
}
.object{
  object-fit: none;
  object-position: -765px -218px;
}
.section-title{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-top: -12px;
}
.section-des{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  margin-top: -18px;
}
.sbtn{
  width: 224px;
  margin-top: 34px;
  font-size: 1.125rem;
  font-weight: 600;
}
.hide{
  display: none;
}
.run-img2 img{
  width: 100%;
  height: 100%;
  border-radius: 18px;
 
 }
 .run-img2{
   width: 287px;
   height: 170px;
   margin: 30px -10px 30px 30px;
 }
 .sr{
  margin: 0 auto;
  text-align: center;
 }
 /* .meet{
  border: 5px solid fuchsia;
 } */
 .tcard{
  width: 96%;
  margin-top: 58px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* border: 5px solid orangered; */
  padding: 16px 16px 16px 16px;
 }
 .ftc{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  /* border: 5px solid darkblue; */
  justify-content: center;
 }
 .tcards{
  width: 326px;
  height: 271px;
  border-radius: 18px;
  position: relative;
  /* border: 5px solid mediumvioletred; */
  margin: auto;
  }
 .gradient{
  height: 100%;
  width: 100%;
  border-radius: 18px;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
 }
 .tcards img{
  height: 100%;
  width: 100%;
  border-radius: 18px;
 }
 .ct{
  position: absolute;
  top: 185px;
  left: 30px;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
}
 .tct{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  position: absolute;
  top: 210px;
  left: 31px;
 }
 footer{
  margin-top: 100px;
  width: 100%;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.1);
 }
 .footer{
  width: 1060px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  /* border: 5px solid greenyellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 .f1{
  width: 443px;
  /* border: 5px solid fuchsia; */
  
 }
 .f2,.f3{
  width: 181px;
 }
 /* .f2 ul,.f3 ul{
  border: 5px solid red;
 } */
 .f1 h1{
  font-size: 3.375rem;
  font-weight: 800;
  margin-bottom: 10px;
 }
 .f1 p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1,125rem;
  font-weight: 400;

 }

 .f2 li, .f3 li{
  list-style: none;
  /* border: 5px solid hotpink; */
  padding-top: 20px;
  margin-left: -40px;
 }
 .fref{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.125rem;
  font-weight: 400;
 }
 .f2 h2,.f3 h2{
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 700;
 }
 hr{
  width: 1060px;
  margin-top: 70px;
 }
 .fp{
  color: rgba(255, 255, 255, 0.5);
  font-size: .99rem;
  font-weight: 400;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
 }
 .bmi{
  background: rgb(34, 34, 34);
  margin-top: 80px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
 }
 table{
  border-collapse: collapse;
  margin-top: 52px;
 }
 th,td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 13px 20px 13px 18px;
 }
 th{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
  white-space: nowrap;
 }
 td{
  padding-top: 10px;
  padding-bottom: 15px;
 }
 td{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  white-space: nowrap;
 }
 .cal p{
  margin-bottom: 34px;
 }
 .chart h1, .cal h1{
  color: rgb(255, 255, 255);
  font-size: 1,75rem;
  font-weight: 900;
 }
 .bc{
  justify-content: space-evenly;
  padding-top: 52px;
  padding-bottom: 52px;
  gap: 175px;
 }
 .chart{
  width: 310px;
  /* border: 5px dashed lawngreen; */
 }
 .cal{
  width: 575px;
 }
 .cal p{
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
 }
 .op{
  display: grid;
  grid-template-columns: 1fr 1fr;
 }
 .op{
  gap: 12px;
 }
 input,select{
  width: 260px;
  height: 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  padding-left: 20px;
  cursor: pointer;
 }
 option{
  background-color: rgb(34, 34, 34);
 }
 .x{
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.3);
 }
 .ac{
  width: 100%;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.3);
 }
 .choose{
  margin-top: 90px;
  margin-bottom: 80px;
 }

 .hcards i{
  font-size: 7rem;
  color: rgb(230, 83, 60);
  padding-bottom: 20px;
 }
 .icon h3{
  margin-top: 34.7px;
 }
 .icon4 i{
  padding-top: 10px;
 }
 .icon4 h3{
  margin-top: 26px;
 }